 
        .abc {
            color: black;
            margin-bottom: 5px;
            text-align: center;
        }
        .food-item {
            text-align: center;
            margin-bottom: 5px;
            border: 1px rgb(194, 152, 234);
            border-radius: 9px;
            background-color: rgb(199, 229, 199);
        }
        .food-item:hover {
            transform: scale(1.05);
        }
        .food-item img {
            height: 200px;
            width: 250px;
            padding: 5px;
            object-fit: cover;
            border-radius: 5px;
        } 
         .cut{ 
             color: blue;
           font-family: roboto ;
        }
        p{
            font-family: "Bree Serif";
            font-size: 20px;
        }
    